<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" id="productdetails" components="{dmxBootstrap5Offcanvas:{},dmxBootstrap5Collapse:{},dmxSwiper:{},dmxBootstrap5Navigation:{},dmxSlideshow:{},dmxStateManagement:{},dmxDataTraversal:{}}" is="dmx-app" appConnect="local" bootstrap5="local" -->
<script is="dmx-flow" id="flow1" type="text/dmx-flow" autorun>{
  run: {
    action: "{{ddProductInformation.select(query.product_id.toNumber())}}",
    output: true
  }
}</script>


<dmx-query-manager id="qm"></dmx-query-manager>
<meta name="ac:route" content="/product-details">
<dmx-array id="arrReviews" dmx-bind:items="jsonDS1.data.user_review.where(`product_id`,ddProductInformation.data.product_id,'==').where(`user_name.lowercase()` ,formSearch.search_review.value.lowercase(), 'contains')"></dmx-array>
<dmx-array id="arrReviews_coll" dmx-bind:items="jsonDS1.data.user_review.where(`product_id`,ddProductInformation.data.product_id,'==').where(`user_name.lowercase()` ,Revcollapse.ReviewSearch.search_review_coll.value.lowercase(), 'contains')"></dmx-array>
<div class="container px-0 d-none d-lg-block label">
  {{jsonDS1.data.menu_categories.where(`category_id`, varCategory.value, '==').values(`title`)}} <i class="fas fa-angle-right ms-2 me-2"></i> {{jsonDS1.data.menu_items.where(`item_id`, varItem.value, '==').values(`title`)}}
  <h4 class="text-dark">
    Sneakers <span class="label">(542)</span>
  </h4>
</div>

<div class="container d-lg-flex mt-4 px-0">
  <div class="product_image col-lg-8  d-none d-lg-block col-sm-12">
    <div class="top_image_group d-none d-lg-block">
      <img dmx-bind:src="ddProductInformation.data.image" class="w-100 h-100 w-shoes-image">
    </div>
    <div class="bottom_image_group d-none d-lg-block">
      <img src="assets/images/sm-pic4.svg" class="w-100 h-100 w-shoes-image">
    </div>
    <div class="mt-4  ">
      <ul class="nav nav-tabs border-0">
        <li class="nav-item">
          <a class="nav-link active text-dark  border-bottom ps-0" aria-current="page" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark  border-bottom" href="#">Reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark  border-bottom" href="#">Shipping and returns</a>
        </li>

      </ul>
    </div>
    <div class=" font-large14  mt-5">
      <p>Celebrate the beauty of our planet with this adidas Stan Smith shoe. Created in collaboration with HER Studio London, this iconic sneaker features a heavenly floral print. Crafted from recycled materials, it has a sleek, sleek synthetic upper that looks like leather. A classic shoe that reduces waste. And to go even further: this product is designed with Primegreen, a series of high performance recycled materials. 50% of the upper is made from recycled materials. No virgin polyester.</p>
    </div>
    <div class="d-flex font-large14 justify-content-between mt-4">

      <ul class="list-unstyled" id="repeat1" is="dmx-repeat" dmx-bind:repeat="ddProductInformation.data.product_materials.split(',')">
        <li class="mt-3"><i class="far fa-check-circle me-2"></i>{{$value}}</li>

      </ul>
      <!--
      <ul class="list-unstyled ">
        <li class="mt-3"><i class="far fa-check-circle me-2"></i>Primegreen</li>
        <li class="mt-3"><i class="far fa-check-circle me-2"></i>Porduct color: Cloud White / Black / Red</li>
        <li class="mt-3"><i class="far fa-check-circle me-2"></i>Product code: GZ0976</li>
      </ul>-->
    </div>
    <div class="d-flex mt-5 ">
      <div class="col-lg-5">
        <h5 class="fw-bold">Customer reviews</h5>
        <div class="d-flex align-items-center mt-3">
          <span class="font-medium12 text-primary me-3 fw-bold"> 5 Star</span>
          <div class="progress  m-0 me-3 review_progress ">
            <div class="progress-bar bg-dark" role="progressbar" dmx-style:width="{{jsonDS1.data.user_review.where(`product_id`,ddProductInformation.data.product_id,'==').where(`review_star`,5,'==').count()}}%"></div>
          </div>
          <span class="font-medium12 ms-2">{{jsonDS1.data.user_review.where(`product_id`,ddProductInformation.data.product_id,'==').where(`review_star`,5,'==').count()}}%</span>
        </div>
        <div class="d-flex align-items-center mt-3">
          <span class="font-medium12 text-primary me-3 fw-bold"> 4 Star</span>
          <div class="progress m-0 review_progress ">
            <div class="progress-bar bg-dark" role="progressbar" dmx-style:width="{{jsonDS1.data.user_review.where(`product_id`,ddProductInformation.data.product_id,'==').where(`review_star`,4,'==').count()}}%"></div>
          </div>
          <span class="font-medium12 ms-2">{{jsonDS1.data.user_review.where(`product_id`,ddProductInformation.data.product_id,'==').where(`review_star`,4,'==').count()}}%</span>
        </div>
        <div class="d-flex align-items-center mt-3">
          <span class="font-medium12 text-primary me-3 fw-bold"> 3 Star</span>
          <div class="progress m-0 review_progress ">
            <div class="progress-bar bg-dark" role="progressbar" dmx-style:width="{{jsonDS1.data.user_review.where(`product_id`,ddProductInformation.data.product_id,'==').where(`review_star`,3,'==').count()}}%"></div>
          </div>
          <span class="font-medium12 ms-2">{{jsonDS1.data.user_review.where(`product_id`,ddProductInformation.data.product_id,'==').where(`review_star`,3,'==').count()}}%</span>
        </div>
        <div class="d-flex align-items-center mt-3">
          <span class="font-medium12 text-primary me-3 fw-bold"> 2 Star</span>
          <div class="progress m-0 review_progress ">
            <div class="progress-bar bg-dark" role="progressbar" dmx-style:width="{{jsonDS1.data.user_review.where(`product_id`,ddProductInformation.data.product_id,'==').where(`review_star`,2,'==').count()}}%"></div>
          </div>
          <span class="font-medium12 ms-2">{{jsonDS1.data.user_review.where(`product_id`,ddProductInformation.data.product_id,'==').where(`review_star`,2,'==').count()}}%</span>
        </div>
        <a href="" class="text-decoration-none font-medium12 fw-bold"> How are ratings Calculated?</a>
        <div class="mt-5 ">
          <h5 class="fw-bold"> Review this product </h5>
          <p class="font-large14"> Share your thought with other customers</p>
          <button class="btn btn-outline-dark fw-bold font-large14 w-75 rounded-0"> Write a customer review</button>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="d-flex justify-content-between">
          <form class="d-flex form-border w-100 p-1" method="post" id="formSearch">
            <img src="assets/images/Search.svg" class="ms-1 d-none d-lg-inline">
            <input class=" w-auto form-control border-0 rounded-0 font-large14 me-2" type="search" placeholder="Search in reviews" aria-label="Search" id="search_review">
          </form>
          <select class="form-select form-border ms-3 rounded-0 w-auto font-medium12 fw-bold">
            <option selected class="font-medium12">Sort by: Top Review</option>
            <option value="1">Newest</option>
            <option value="2">Oldest</option>
            <option value="3">Most Rated</option>
          </select>
        </div>

        <div class="d-flex mt-5" dmx-show="arrReviews.items.count()==0">
          <h5 class="text-primary">Sorry User {{formSearch.search_review.value }} Not found !!!</h5>
        </div>
        <div class="mt-4" id="repeat2" is="dmx-repeat" dmx-bind:repeat="arrReviews.items.count() > 0 ? arrReviews.items : jsonDS1.data.user_review" dmx-hide="arrReviews.items.count()==0">
          <h5 class="font-medium12 mt-4"> <img dmx-bind:src="user_image" class="user_image"> {{user_name}}</h5>
          <div class="d-flex align-items-baseline">
            <div id="repeat_review" is="dmx-repeat" dmx-bind:repeat="5">
              <span dmx-show="review_star > $index"> <i class="fas fa-star"></i></span>
              <span dmx-hide=" review_star > $index"> <i class="far fa-star"></i></span>
            </div>
            <h5 class="font-large14 ms-2 fw-bold"> {{review_comment}}</h5>
          </div>
          <p class="text-black-50 font-medium12 m-0">{{review_date}}</p>
          <p class="font-medium12 fw-bold text-success mb-1">Verified Purchase</p>
          <p class="font-large14">{{review_descripion}}</p>
          <button class="btn font-large14 btn-outline-dark border-2 rounded-0 w-25 ">Helpful</button>
          <span class="btn font-large14 ms-2">Report Abuse</span>
        </div>
      </div>
    </div>
  </div>

  <dmx-slideshow id="slideshow1" show-paging="true" no-autostart="true" class="slide d-lg-none" dmx-bind:slides="ddProductInformation.data.slide.split(',')" slide-url="{{$value}}">


  </dmx-slideshow>

  <div class="product_details  ms-4 col-lg-4 col-sm-12 mt-3 ">
    <div class=" d-flex flex-lg-column flex-column-reverse">
      <div class="col-sm-12">
        <h5 class="text-black-50 font-medium12">{{ddProductInformation.data.type}}</h5>
        <h4 class="fw-bold">{{ddProductInformation.data.name}}</h4>
        <div class="d-flex">
          <div id="rating-repeat" is="dmx-repeat" dmx-bind:repeat="5">
            <span dmx-show="ddProductInformation.data.rating > $index"><i class="bi-star-fill"></i></span>
            <span dmx-hide="ddProductInformation.data.rating > $index"><i class="bi-star"></i></span>
          </div>
          <div class="ms-2">{{ddProductInformation.data.rating_count}}</div>
        </div>
        <p class="font-large14 d-none d-lg-block mt-3">{{ddProductInformation.data.description}}</p>
      </div>

      <div class="col-sm-12 mb-3 mt-2">
        <h5 class="font-large14 text-black-50">Available in 5 styles</h5>
        <div is="dmx-swiper" id="swiper1" grab-cursor="true" slides-per-view="4" dmx-bind:slides="10" navigation="true">
          <div class="swiper-slide color_swiper">
            <img src="assets/images/sm-pic2.svg" class="product_color ">
          </div>
        </div>
      </div>
    </div>
    <div class="  d-flex flex-lg-column justify-content-between align-items-baseline">
      <div class="text-dark product_offer mt-4  font-medium12 ">{{ddProductInformation.data.discount}}</div>
      <div class="d-flex mb-4 me-2">
        <div class="w-shoes-real-price ms-0">{{ddProductInformation.data.real_price}}</div>
        <div class="w-shoes-final-price ms-2">{{ddProductInformation.data.final_price}} {{ddProductInformation.data.currency}}</div>
      </div>
    </div>
    <div class="d-flex flex-wrap  " id="buttonrepeat" is="dmx-repeat" dmx-bind:repeat="ddProductInformation.data.size.split(',')">
      <button class="btn btn-outline-dark me-2 font-large14 px-3 mt-2 product_size rounded-0">{{$value}}</button>
    </div>
    <div class="mt-4 mb-4 d-none d-lg-block">
      <p class="product_available_check font-medium12"> <i class="fas fa-check me-3"></i>Delivery to 75018 available</p>
      <p class="product_available_check font-medium12"> <i class="fas fa-check me-3"></i>Click&Collect at Paris Nord available</p>
    </div>
    <div class="d-flex justify-content-center mt-4 me-2 btn btn-dark text-white rounded-0 align-items-center" dmx-on:click="arrCart.addUniq(ddProductInformation.data.product_id);notif.success('Product added to cart succesfully!');varTotalprice.setValue(ddProductInformation.data.final_price + varTotalprice.value)" dmx-class:disabled="arrCart.items.contains(ddProductInformation.data.product_id)" id="cart">
      <i class="fas fa-shopping-cart me-2 "></i>Add to Cart
    </div>
    <div class="d-flex  d-lg-none justify-content-center me-2 mt-4 btn  btn-outline-dark  rounded-0 align-items-center">
      <i class="far fa-heart me-2"></i>Favorite
    </div>
    <p class="font-medium12 fw-bold mt-2 d-none d-lg-block "> Hurry! This item is <span class="text-primary">selling fast</span></p>
    <div class="font-large14 d-none d-lg-block mt-5">
      <p><i class="far fa-heart me-2"></i> Add to Favorites</p>
      <P class="text-black-50"> <i class="fas fa-undo me-2"></i>{{ddProductInformation.data.return}}</P>
      <p class="text-black-50"> <i class="fas fa-shopping-cart me-2"></i> Free shipping for loyalty club members</p>
    </div>
    <div class="d-lg-none mt-5 mb-5">
      <span class="d-flex btn justify-content-between mt-2" dmx-on:click="Descollapse.toggle()">
        <h5>Description</h5> <i class="fas fa-angle-down me-2"></i>
      </span>
      <div class="collapse" id="Descollapse" is="dmx-bs5-collapse">
        <p class="font-large12 d-block mt-3">{{ddProductInformation.data.description}}</p>
      </div>
      <span class="d-flex justify-content-between mt-3 btn" dmx-on:click="Matcollapse.toggle()">
        <h5>Materials</h5> <i class="fas fa-angle-down me-2"></i>
      </span>
      <div class="collapse" id="Matcollapse" is="dmx-bs5-collapse">
        <ul class="list-unstyled" id="repeat_mat" is="dmx-repeat" dmx-bind:repeat="ddProductInformation.data.product_materials.split(',')">
          <li class="mt-3"><i class="far fa-check-circle me-2"></i>{{$value}}</li>

        </ul>
      </div>
      <span class="d-flex justify-content-between mt-3 btn" dmx-on:click="Shicollapse.toggle()">
        <h5>Shipping and Returns</h5> <i class="fas fa-angle-down me-2"></i>
      </span>
      <div class="collapse" id="Shicollapse" is="dmx-bs5-collapse">
        <P class="font-medium12"> <i class="fas fa-undo me-2"></i>{{ddProductInformation.data.return}}</P>
        <p class="font-medium12"> <i class="fas fa-shopping-cart me-2"></i> Free shipping for loyalty club members</p>
      </div>
      <span class="d-flex justify-content-between mt-3 btn" dmx-on:click="Revcollapse.toggle()">
        <h5>Reviews (45) 4.1★</h5> <i class="fas fa-angle-down me-2"></i>
      </span>
      <div class="collapse" id="Revcollapse" is="dmx-bs5-collapse">
        <div class=" mt-5 ">
          <div class="col-sm-12">
            <h5 class="fw-bold">Customer reviews</h5>
            <div class="d-flex align-items-center mt-3">
              <span class="font-medium12 text-primary me-3 fw-bold"> 5 Star</span>
              <div class="progress  m-0 review_progress ">
                <div class="progress-bar bg-dark" role="progressbar" dmx-style:width="{{jsonDS1.data.user_review.where(`product_id`,ddProductInformation.data.product_id,'==').where(`review_star`,5,'==').count()}}%"></div>
              </div>
              <span class="font-medium12 ms-2">{{jsonDS1.data.user_review.where(`product_id`,ddProductInformation.data.product_id,'==').where(`review_star`,5,'==').count()}}%</span>
            </div>
            <div class="d-flex align-items-center mt-3">
              <span class="font-medium12 text-primary me-3 fw-bold"> 4 Star</span>
              <div class="progress m-0 review_progress ">
                <div class="progress-bar bg-dark" role="progressbar" dmx-style:width="{{jsonDS1.data.user_review.where(`product_id`,ddProductInformation.data.product_id,'==').where(`review_star`,4,'==').count()}}%"></div>
              </div>
              <span class="font-medium12 ms-2">{{jsonDS1.data.user_review.where(`product_id`,ddProductInformation.data.product_id,'==').where(`review_star`,4,'==').count()}}%</span>
            </div>
            <div class="d-flex align-items-center mt-3">
              <span class="font-medium12 text-primary me-3 fw-bold"> 3 Star</span>
              <div class="progress m-0 review_progress ">
                <div class="progress-bar bg-dark" role="progressbar" dmx-style:width="{{jsonDS1.data.user_review.where(`product_id`,ddProductInformation.data.product_id,'==').where(`review_star`,3,'==').count()}}%"></div>
              </div>
              <span class="font-medium12 ms-2">{{jsonDS1.data.user_review.where(`product_id`,ddProductInformation.data.product_id,'==').where(`review_star`,3,'==').count()}}%</span>
            </div>
            <div class="d-flex align-items-center mt-3">
              <span class="font-medium12 text-primary me-3 fw-bold"> 2 Star</span>
              <div class="progress m-0 review_progress ">
                <div class="progress-bar bg-dark" role="progressbar" dmx-style:width="{{jsonDS1.data.user_review.where(`product_id`,ddProductInformation.data.product_id,'==').where(`review_star`,2,'==').count()}}%"></div>
              </div>
              <span class="font-medium12 ms-2">{{jsonDS1.data.user_review.where(`product_id`,ddProductInformation.data.product_id,'==').where(`review_star`,2,'==').count()}}%</span>
            </div>
            <a href="" class="text-decoration-none font-medium12 fw-bold"> How are ratings Calculated?</a>
            <div class="mt-5 ">
              <h5 class="fw-bold"> Review this product </h5>
              <p class="font-large14"> Share your thought with other customers</p>
              <button class="btn btn-outline-dark fw-bold font-large14 w-75 rounded-0"> Write a customer review</button>
            </div>
          </div>
          <div class="col-sm-12">

            <div class="d-flex mt-4 ">
              <form class="d-flex form-border w-75  p-1" method="post" id="ReviewSearch">
                <img src="assets/images/Search.svg">
                <input class="  form-control border-0 rounded-0 font-medium12 " type="search" placeholder=" Reviews" aria-label="Search" id="search_review_coll">
              </form>
              <select class="form-select form-border w-75 ms-3 rounded-0 me-5  font-medium12 fw-bold">
                <option selected class="font-medium12">Sort by: Top Review</option>
                <option value="1">Newest</option>
                <option value="2">Oldest</option>
                <option value="3">Most Rated</option>
              </select>
            </div>
            <div class="d-flex mt-5" dmx-show="arrReviews_coll.items.count()==0">
              <h5 class="text-primary">Sorry User {{Revcollapse.ReviewSearch.search_review_coll.value}} Not found !!!</h5>
            </div>
            <div class="mt-4" id="userrepeat" is="dmx-repeat" dmx-bind:repeat="arrReviews_coll.items.count() > 0 ? arrReviews_coll.items : jsonDS1.data.user_review" dmx-hide="arrReviews_coll.items.count()==0">
              <h5 class="font-medium12 mt-4"> <img dmx-bind:src="user_image" class="user_image"> {{user_name}}</h5>
              <div class="d-flex align-items-baseline">
                <div id="repeat_review_coll" is="dmx-repeat" dmx-bind:repeat="5">
                  <span dmx-show="review_star > $index"> <i class="fas fa-star"></i></span>
                  <span dmx-hide=" review_star > $index"> <i class="far fa-star"></i></span>
                </div>
                <h5 class="font-large14 ms-2 fw-bold"> {{review_comment}}</h5>
              </div>
              <p class="text-black-50 font-medium12 m-0">{{review_date}}</p>
              <p class="font-medium12 fw-bold text-success mb-1">Verified Purchase</p>
              <p class="font-large14">{{review_descripion}}</p>
              <button class="btn font-large14 btn-outline-dark border-2 rounded-0 w-25 ">Helpful</button>
              <span class="btn font-large14 ms-2">Report Abuse</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container px-0  ">
  <div class="d-flex justify-content-between ">
    <span class="d-flex justify-content-start  fw-bold  heading  mb-0 d-lg-block ms-4">
      YOU MAY ALSO LIKE...
    </span>
    <a href="" class="d-lg-none me-3 fw-bold text-decoration-none"> See More</a>
  </div>
  <div class="mt-4" is="dmx-swiper" id="swiper2" dmx-bind:slides="jsonDS1.data.recommended_for_you" grab-cursor="true" navigation="true" slides-per-view="2.5" slides-per-view-lg="6" slides-per-view-xl="6">
    <div class="swiper-slide swiper">
      <dmx-value id="var1IsFavorite" dmx:bind:value="0"></dmx-value>
      <div class="section-part">
        <div class="image-part">
          <img dmx-bind:src="image" class="w-100 h-100">
          <div class="btn btn-icon image-save mt-1 px-1" dmx-on:click="var1IsFavorite.value == 1 ? var1IsFavorite.setValue(0) : var1IsFavorite.setValue(1)">
            <span dmx-hide="var1IsFavorite.value"> <i class="bi-suit-heart"></i></span>
            <span dmx-show="var1IsFavorite.value"> <i class="bi-heart-fill text-danger"></i></span>
          </div>
          <div class="image-tag d-none d-lg-block">
            {{discount}}
          </div>
        </div>
        <div class="content-part">
          <div class="label d-none d-lg-block">{{type}}</div>
          <div class="title">{{name}}</div>
          <div class="d-flex">
            <div class="final-price"> {{final_price}} </div>
            <div class="real-price">{{real_price}}</div>
          </div>
          <div class="rating d-flex">
            <div id="repeat3" is="dmx-repeat" dmx-bind:repeat="5">
              <span dmx-show="rating > $index"><i class="bi-star-fill"></i></span>
              <span dmx-hide="rating > $index"><i class="bi-star"></i></span>
            </div>
            <div class="ms-2">{{rating_count}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>