<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" id="productdetails" components="{dmxBootstrap5Offcanvas:{},dmxBootstrap5Collapse:{},dmxSwiper:{},dmxBootstrap5Navigation:{}}" is="dmx-app" appConnect="local" -->
<dmx-json-datasource id="jsonDS1" is="dmx-serverconnect" url="assets/json/data.json"></dmx-json-datasource>
<meta name="ac:route" content="/product-details">
<div class="container px-0 label">
  {{jsonDS1.data.menu_categories.where(`category_id`, varCategory.value, '==').values(`title`)}} <i class="fas fa-angle-right ms-2 me-2"></i> {{jsonDS1.data.menu_items.where(`item_id`, varItem.value, '==').values(`title`)}}
  <h4 class="text-dark">
    Sneakers <span class="label">(542)</span>
  </h4>

</div>
<div class="container d-flex mt-4 px-0">


  <div class="product_image col-lg-8">
    <div class="top_image_group ">
      <img src="assets/images/w-sm-head.jpg" class="w-100 h-100 w-shoes-image">
    </div>
    <div class="bottom_image_group">
      <img src="assets/images/sm-pic4.svg" class="w-100 h-100 w-shoes-image">
    </div>
    <div class="mt-4  ">
      <ul class="nav nav-tabs border-0">
        <li class="nav-item">
          <a class="nav-link active text-dark  border-bottom ps-0" aria-current="page" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark  border-bottom" href="#">Reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark  border-bottom" href="#">Shipping and returns</a>
        </li>

      </ul>
    </div>
    <div class=" font-large14 mt-5">
      <p>Celebrate the beauty of our planet with this adidas Stan Smith shoe. Created in collaboration with HER Studio London, this iconic sneaker features a heavenly floral print. Crafted from recycled materials, it has a sleek, sleek synthetic upper that looks like leather. A classic shoe that reduces waste. And to go even further: this product is designed with Primegreen, a series of high performance recycled materials. 50% of the upper is made from recycled materials. No virgin polyester.</p>
    </div>
    <div class="d-flex font-large14 justify-content-between mt-4">

      <ul class="list-unstyled ">
        <li class="mt-3"><i class="far fa-check-circle me-2"></i>Standard Fit</li>
        <li class="mt-3"><i class="far fa-check-circle me-2"></i>Lace-up closure</li>
        <li class="mt-3"><i class="far fa-check-circle me-2"></i>Synthetic upper</li>
        <li class="mt-3"><i class="far fa-check-circle me-2"></i>Rubber outsole</li>
      </ul>
      <ul class="list-unstyled ">
        <li class="mt-3"><i class="far fa-check-circle me-2"></i>Primegreen</li>
        <li class="mt-3"><i class="far fa-check-circle me-2"></i>Porduct color: Cloud White / Black / Red</li>
        <li class="mt-3"><i class="far fa-check-circle me-2"></i>Product code: GZ0976</li>
      </ul>
    </div>
    <div class="d-flex mt-5 ">

      <div class="col-lg-4">

        <h5 class="fw-bold">Customer reviews</h5>
        <div class="d-flex align-items-center mt-3">
          <span class="font-medium12 text-primary me-2 fw-bold"> 5 Star</span>
          <div class="progress m-0 w-50 ">
            <div class="progress-bar bg-dark" role="progressbar" style="width: 44%"></div>
          </div>
          <span class="font-medium12 ms-2">44%</span>
        </div>
        <div class="d-flex align-items-center mt-3">
          <span class="font-medium12 text-primary me-2 fw-bold"> 4 Star</span>
          <div class="progress m-0 w-50 ">
            <div class="progress-bar bg-dark" role="progressbar" style="width: 20%"></div>
          </div>
          <span class="font-medium12 ms-2">20%</span>
        </div>
        <div class="d-flex align-items-center mt-3">
          <span class="font-medium12 text-primary me-2 fw-bold"> 3 Star</span>
          <div class="progress m-0 w-50 ">
            <div class="progress-bar bg-dark" role="progressbar" style="width: 18%"></div>
          </div>
          <span class="font-medium12 ms-2">18%</span>
        </div>
        <div class="d-flex align-items-center mt-3">
          <span class="font-medium12 text-primary me-2 fw-bold"> 2 Star</span>
          <div class="progress m-0 w-50 ">
            <div class="progress-bar bg-dark" role="progressbar" style="width: 10%"></div>
          </div>
          <span class="font-medium12 ms-2">10%</span>
        </div>
        <a href="" class="text-decoration-none font-medium12 fw-bold"> How are ratings Calculated?</a>
        <div class="mt-5 ">
          <h5 class="fw-bold"> Review this product </h5>
          <p class="font-large14"> Share your thought with other customers</p>
          <button class="btn btn-outline-dark fw-bold font-large14 w-75 rounded-0"> Write a customer review</button>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="d-flex ">
          <form class="d-flex form-border" method="post" id="formSearch">
            <img src="assets/images/Search.svg" class="ms-1 d-none d-lg-inline">
            <input class=" w-auto form-control border-0 rounded-0 font-large14 me-2" type="search" placeholder="Search in reviews" aria-label="Search" id="search_reivew">


          </form>
          <select class="form-select ms-3  w-auto ">
            <option selected class="font-medium12">Sort by: Top Review</option>
            <option value="1">Newest</option>
            <option value="2">Oldest</option>
            <option value="3">Most Rated</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="product_details  col-lg-4 mt-3 ">
    <h5 class="text-black-50 font-medium12">Nike Originals</h5>
    <h4 class="fw-bold">Air Jordan 1 Retro High</h4>
    <div class="d-flex">
      <div id="rating-repeat" is="dmx-repeat" dmx-bind:repeat="5">
        <span dmx-show="rating > $index"><i class="bi-star-fill"></i></span>
        <span dmx-hide="rating > $index"><i class="bi-star"></i></span>
      </div>
      <div class="ms-2">{{rating_count}}</div>
    </div>
    <p class="font-large14 mt-3">The Air Jordan 1 Mid Shoe is inspired by the first AJ1, offering fans of Jordan retros a chance to follow in the footsteps of greatness. Fresh colour trims the clean, classic materials, injecting some newness into the familiar design.</p>
    <div>
      <h5 class="font-large14 text-black-50">Available in 5 styles</h5>
      <div is="dmx-swiper" id="swiper1" grab-cursor="true" slides-per-view="4" dmx-bind:slides="10" navigation="true">
        <div class="swiper-slide color_swiper">
          <img src="assets/images/sm-pic2.svg" class="product_color">
        </div>
      </div>

    </div>
    <div class="text-dark product_offer mt-4  font-medium12 ">-22% OFF</div>
    <div class="d-flex mb-4">

      <div class="w-shoes-real-price ms-0">121,00 €</div>
      <div class="w-shoes-final-price ms-2"> 99,99 € </div>
    </div>
    <div class="d-flex flex-wrap  " id="buttonrepeat" is="dmx-repeat" dmx-bind:repeat="16">

      <button class="btn btn-outline-dark me-2 font-large14 px-3 mt-2 product_size rounded-0">32</button>
    </div>
    <div class="mt-4 mb-4">
      <p class="product_available_check font-medium12"> <i class="fas fa-check me-3"></i>Delivery to 75018 available</p>
      <p class="product_available_check font-medium12"> <i class="fas fa-check me-3"></i>Click&Collect at Paris Nord available</p>
    </div>
    <div class="d-flex justify-content-center btn bg-dark text-white rounded-0 align-items-center">


      <i class="fas fa-shopping-cart me-2"></i>Add to Cart
    </div>
    <p class="font-medium12 fw-bold mt-2"> Hurry! This item is <span class="text-primary">selling fast</span></p>
    <div class="font-large14 mt-5">
      <p><i class="far fa-heart me-2"></i> Add to Favorites</p>
      <P class="text-black-50"> <i class="fas fa-undo me-2"></i>90 day return policy</P>
      <p class="text-black-50"> <i class="fas fa-shopping-cart me-2"></i> Free shipping for loyalty club members</p>
    </div>
  </div>
</div>