body{
  font-family:'Inter',sans-serif;
}
.head-text{
  margin-left: 110px;
}
.heading{
  font-size:32px;
  letter-spacing: 2px;
  font-weight:600;
}
.h-divider{
 margin-top:5px;
 margin-bottom:5px;
 height:1px;
 width:100%;
 border-top:1px solid #D3D4D8;
}
.account-icon{
  width:24px;
  height:24px;
}

.bottom-left{
  
   top:180px;
  left:280px;
}

.section-landscape{
  width:400.53px;
  margin:0px 25px;
  
}

  .label{
    color: #91929D;
    font-size:12px;
    font-weight: bold;

  }

 

.frame{
  background: #5468FF;
  padding: 48px 0px 0px 48px;
  color:white;
  margin:10px 0px;
}
 .swiper-button-next{
   left:auto; 
   right:0px !important;
   background-image: url(/assets/images/CarouselArrow.svg) !important;
   background-size:cover !important;
   margin-top:-50px !important;
 }
 .swiper-button-prev{
   left:0px !important;
   margin-top:-50px !important;
   background-image: url(/assets/images/prev.png) !important;
   background-size:contain !important;


 }
 
.font-large14{
font-size: 14px;
}
.font-medium12{
  font-size: 12px;
}
.font-small9{
  font-size:9px;
}
.form-border{
  border:1px solid  #91929D;
}
  .font-size-head1{
    font-size:67px;
  }
  .font-size-head2{
    font-size:30px; width:350px;
  }
  .font-size-p-heading{
    font-size:32px; font-weight:600;
  }
  .font-size-p-text{
    font-weight:bold; font-size:20px;
  }
  .image-margin{
    margin-left:-300px; margin-top:50px;
  }
 
 
  @media(max-width:571px){

 .swiper-slide{
   width:120px !important;
 }

  .section-part{
    width:144px;
    height:183px;
      }
      .image-part{
  position: relative;
  height:109px;
  width:144.19px;

}
 .image-save{
 position: absolute;
 top:4px;
 right:25px;
 padding: 2px;
 background-color: white;
 }

  .content-part{
     height:74px;
     margin-left:20px;
     
  }
   .title{
    font-size:10px;
    font-weight: bold;
    margin-top:4px;
    margin-bottom:4px;

  }
         .final-price{ 
    color: #F82CAA;
      font-weight: bold;
      font-style: italic;
      font-size: 12px;
  }
  .real-price{
    font-size:12px;
    -webkit-text-decoration-line: line-through;
            text-decoration-line: line-through;
    font-style: italic;
    color: #91929D;
    margin-left: 12px;

  }
   .rating{
    font-size:10px;
    font-weight: bold;
    
  }
  .running{
   background-image:url(/assets/images/sm-shoes1.jpg);
    position: relative;
   
   width:132px;
   height:210px;
   background-repeat: no-repeat;

 }
 .running-text{
 position: absolute;
 left:4px;
 bottom:4px;
 color:white;
 

 }
 .spring{
background-image:url(/assets/images/sm-shoes2.jpg);
    position: relative;
    width:132px;
   height:210px;
    background-repeat: no-repeat;
 }
 .spring-text{
 background-color:#DB2796 ;
 color:white;
 position: absolute;
 left:0px;
  bottom:0px;
  right:0px;
  padding: 12px 0px 12px 12px;
 

 }
 .new{
background-image:url(/assets/images/sm-shoes.jpg);
    position: relative;
    width:132px;
   height:210px;
    background-repeat: no-repeat;

 }
.new-text{
 position: absolute;
 top:100px; 
 left:5px;
 font-size: 14px;
}
.women-shoes{
    background-image: url(/assets/images/w-sm-head.jpg);
    
    
    height:269px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .w-shoes-p{
    top:0px;
    left:16px;

    text-align: justify;
  }
  .women-section-part
{
  width:163.5px;
  height:223px;
 margin: 0px 10px;
  
}
.women-image-part{
  position: relative;
  height:123px;
  width:163.5px;

}
.w-shoes-image{
  -o-object-fit: cover;
     object-fit: cover;
    -o-object-position: center;
       object-position: center;
}
 .women-image-save{
 position: absolute;
 top:2px;
 right:5px;
 padding: 2px;
 background-color: white;
 }
 .women-image-tag{
    background-color: #F82CAA;
    border-radius: 2px;
    top:92%;
    margin-left: 5px;
    color:white;
    position: absolute;
    height:17px;
    width:59px;
    padding:2px 8px;
    font-size: 9px;
    font-weight: normal;

 }
  .women-content-part{
     height:96px;
     
  }
    .women-title{
    font-size:14px;
    font-weight: bold;
    margin-top:3px;
    margin-bottom:3px;

  }
  .w-shoes-color{
    width:15px;
    height:15px;
    border: 1px solid #91929D;
  }
   .w-shoes-final-price{ 
    color: #F82CAA;
      font-weight: bold;
      font-style: italic;
      font-size: 14px;
  }
  .w-shoes-real-price{
    font-size:14px;
    -webkit-text-decoration-line: line-through;
            text-decoration-line: line-through;
    font-style: italic;
    color: #91929D;
    margin-left: 12px;

  }
    .w-shoes-rating{
    font-size:10px;
    font-weight: bold;
    
  }
}
@media(min-width:768px) and (max-width:991px){
   .swiper-slide{
   width:180px !important;
 }

  .section-part{
    width:160px;
    height:260px;
      }
      .image-part{
  position: relative;
  height:186px;
  width:160px;

}
 .image-save{
 position: absolute;
 top:10px;
 right:6px;
 padding: 2px;
 background-color: white;
 }

  .content-part{
     height:74px;
     margin-left:20px;
     
  }
   .title{
    font-size:12px;
    font-weight: bold;
    margin-top:4px;
    margin-bottom:4px;

  }
         .final-price{ 
    color: #F82CAA;
      font-weight: bold;
      font-style: italic;
      font-size: 12px;
  }
  .real-price{
    font-size:12px;
    -webkit-text-decoration-line: line-through;
            text-decoration-line: line-through;
    font-style: italic;
    color: #91929D;
    margin-left: 12px;

  }
   .rating{
    font-size:10px;
    font-weight: bold;
    
  }
  .category-image{
    width:150px;
    height:150px
  }
  
    .running{
   background-image:url(/assets/images/sm-shoes1.jpg);
    position: relative;
   
   width:220px;
   height:250px;
   background-repeat: no-repeat;

 }
 .running-text{
 position: absolute;
 left:20px;
 bottom:20px;
 color:white;
 

 }
 .spring{
background-image:url(/assets/images/sm-shoes2.jpg);
    position: relative;
    width:220px;
   height:250px;
    background-repeat: no-repeat;
 }
 .spring-text{
 background-color:#DB2796 ;
 color:white;
 position: absolute;
 left:0px;
  bottom:0px;
  right:0px;
 padding: 18px 0px 18px 30px;

 }
 .new{
background-image:url(/assets/images/sm-shoes.jpg);
    position: relative;
    width:220px;
   height:250px;
    background-repeat: no-repeat;

 }
.new-text{
 position: absolute;
 top:100px; 
 left:40px;
 font-size:20px;
}
  
}
  @media(min-width:992px){
.swiper-slide{
    width:208px !important;
  }

.section-part
{
  width:180.24px;
  height:280px;
  margin:0px 25px;
  
}
.image-part{
  position: relative;
  height:199px;
  width:180.24px;

}
 .image-save{
 position: absolute;
 top:4px;
 right:5px;
 padding: 2px;
 background-color: white;
 }
 .image-tag{
    background-color: #F82CAA;
    border-radius: 2px;
    top:88%;
    margin-left: 4px;
    margin-bottom: 4px;
    color:white;
    position: absolute;
    height:17px;
    width:59px;
    padding:2px 8px;
    font-size: 9px;
    font-weight: normal;

 }
  .content-part{
     height:77px;
     
  }
    .title{
    font-size:14px;
    font-weight: bold;
    margin-top:4px;
    margin-bottom:4px;

  }
   .final-price{ 
    color: #F82CAA;
      font-weight: bold;
      font-style: italic;
      font-size: 14px;
  }
  .real-price{
    font-size:14px;
    -webkit-text-decoration-line: line-through;
            text-decoration-line: line-through;
    font-style: italic;
    color: #91929D;
    margin-left: 12px;

  }
    .rating{
    font-size:10px;
    font-weight: bold;
    

  }
   .women-shoes{
    background-image: url(/assets/images/women-headpic.jpg);
    
    
    height:220px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .women-shoes-uppertext{
    top:70px;
    left:60px;
    right:60px;
    font-weight:bold;
  }
  .women-section-part
{
  width:302.67px;
  height:391px;
 
  
}
.women-image-part{
  position: relative;
  height:295px;
  width:302.67px;

}
.w-shoes-image{
  -o-object-fit: cover;
     object-fit: cover;
    -o-object-position: center;
       object-position: center;
}
 .women-image-save{
 position: absolute;
 top:2px;
 right:5px;
 padding: 2px;
 background-color: white;
 }
 .women-image-tag{
    background-color: #F82CAA;
    border-radius: 2px;
    top:92%;
    margin-left: 5px;
    color:white;
    position: absolute;
    height:17px;
    width:59px;
    padding:2px 8px;
    font-size: 9px;
    font-weight: normal;

 }
  .women-content-part{
     height:96px;
     
  }
    .women-title{
    font-size:14px;
    font-weight: bold;
    margin-top:3px;
    margin-bottom:3px;

  }
  .w-shoes-color{
    width:15px;
    height:15px;
    border: 1px solid #91929D;
  }
   .w-shoes-final-price{ 
    color: #F82CAA;
      font-weight: bold;
      font-style: italic;
      font-size: 14px;
  }
  .w-shoes-real-price{
    font-size:14px;
    -webkit-text-decoration-line: line-through;
            text-decoration-line: line-through;
    font-style: italic;
    color: #91929D;
    margin-left: 12px;

  }
    .w-shoes-rating{
    font-size:10px;
    font-weight: bold;
    
  }
   .women-section-part-p
{
  width:410.67px;
  height:391px;
 
  
}
.women-image-part-p{
  position: relative;
  height:295px;
  width:410.67px;

}
.w-shoes-image-p{
  -o-object-fit: cover;
     object-fit: cover;
    -o-object-position: center;
       object-position: center;
}
 .women-image-save-p{
 position: absolute;
 top:2px;
 right:5px;
 padding: 2px;
 background-color: white;
 }
 .women-image-tag-p{
    background-color: #F82CAA;
    border-radius: 2px;
    top:92%;
    margin-left: 5px;
    color:white;
    position: absolute;
    height:17px;
    width:59px;
    padding:2px 8px;
    font-size: 9px;
    font-weight: normal;

 }
  .women-content-part-p{
     height:96px;
     
  }
    .women-title-p{
    font-size:14px;
    font-weight: bold;
    margin-top:3px;
    margin-bottom:3px;

  }
  .w-shoes-color-p{
    width:15px;
    height:15px;
    border: 1px solid #91929D;
  }
   .w-shoes-final-price-p{ 
    color: #F82CAA;
      font-weight: bold;
      font-style: italic;
      font-size: 14px;
  }
  .w-shoes-real-price-p{
    font-size:14px;
    -webkit-text-decoration-line: line-through;
            text-decoration-line: line-through;
    font-style: italic;
    color: #91929D;
    margin-left: 12px;

  }
    .w-shoes-rating-p{
    font-size:10px;
    font-weight: bold;
    
  }
  
}

